.contact-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1a1a1a;
  color:gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(120deg, #DF8908 10%, #B415FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-title span {
  color: #ff6b6b;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-left {
  width: 40%;
  padding: 20px;
}

.contact-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-heading span {
  color: #ff6b6b;
}

.contact-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info .icon {
  margin-right: 10px;
  color: #ff6b6b;
}

.contact-right {
  width: 50%;
  padding: 20px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-right form div {
  margin-bottom: 20px;
  width: 100%;
}

.contact-right form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-right form input,
.contact-right form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.contact-right form textarea {
  height: 100px;
}

.contact-right form button[type="submit"] {
  background-color: #ff6b6b;
  color: lightsteelblue;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-right form button[type="submit"]:hover {
  background-color: #ff4b4b;
}