.box {
  background: white;
  border-radius: 10px;
  min-height: 450px;
  width: 500px;
}

.card {
  border-radius: 10px;
}

.card img {
  border-radius: 10px 10px 0 0;
}

body {
  background: wheat;
}
