* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  background: #fff;
}

/* LEFT SECTION */
.login-left {
  width: 50%;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.logo-box {
  width: 20px;
  height: 20px;
  background: purple;
  border-radius: 4px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 30px;
  color: #555;
}

form label {
  font-size: 14px;
  margin: 10px 0 5px;
}

form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* OPTIONS row */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 20px;
}

.options a {
  color: purple;
  text-decoration: none;
}

/* Buttons */
.sign-btn {
  width: 100%;
  padding: 12px;
  background: purple;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.google-btn img {
  width: 20px;
}

.signup {
  margin-top: 20px;
  text-align: center;
}

.signup a {
  color: purple;
  text-decoration: none;
}

/* RIGHT SECTION */
.login-right {
  width: 50%;
  background: #b987f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 85%;
}
