body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.add-area {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.add-area input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  background-color: lightgray;
  border: 1px solid black;
}

.add-area button {
  padding: 10px 15px;
  background: #2e7d32;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.section-title {
  margin-top: 30px;
  font-size: 24px;
}

.task-list {
  margin-top: 10px;
}

/* TASK BOX STYLE IMPROVED */
.task-card {
  display: flex;
  align-items: center;
  background: white;
  
  padding: 12px;
  border-radius: 6px;
  margin: 8px 0;
  gap: 15px;

  /* Light background & border added */
  border: 1px solid black;
  background: lightgray;
}

.task-card input {
  width: 18px;
  height: 18px;
}

.completed-text {
  text-decoration: line-through;
  color: gray;
}

.status {
  margin-left: auto;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

.green {
  background: #c8f7c5;
  color: #1b5e20;
}

.yellow {
  background: #fff4b2;
  color: #8d6e00;
}


.edit-area {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.edit-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
}


.edit-btn {
  padding: 6px 12px;
  background: #1976d2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete-action {
  padding: 6px 12px;
  background: red;
  border: black;
  color: #aa0a0a;
  border-radius: 6px;
  cursor: pointer;
}
.delete-btn{
  color: #aa0a0a;
  border: 1px solid black;
}


.save-btn {
  padding: 6px 12px;
  background: #2e7d32;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  padding: 6px 12px;
  background: #9e9e9e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
